@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
 .attribution { font-size: 11px; text-align: center;
 color:#fff; }
 .attribution a { color: hsl(228, 45%, 44%); }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Rubik', sans-serif;
    }
    body{
     display:flex;
     justify-content:center;
     align-items:center;
     height: 100vh;
     flex-direction: column;
     background:hsl(226, 43%, 10%) ;
     
    }
    main{
        width:45rem;
        /* height:40rem;     */
       /* border:3px solid red;     */
       display:grid;
          grid-template-columns: repeat(4,1fr); 
       grid-template-rows:repeat(2,1fr);
      grid-column-gap:1rem;
       overflow:hidden;
      
    }
    .container{
        grid-row: 1/-1;
        
    }
    .top{
        height:16.5rem;
        padding:1.2rem;
        border-radius:0.8rem;
        background: hsl(246, 80%, 60%);
        /* z-index: 1; */
    }
    .top img{
        width:4rem;
        /* height:4rem; */
        border:3px solid #fff;
        border-radius: 50%;
        margin-bottom:1.5rem;

    }
    .top p{ 
        color:hsl(236, 100%, 87%);
        font-size:0.6rem;
    }
    .top h1{ 
        color:#fff;
        font-weight: 100;
    }
    .days{
        width:11rem;
        background:hsl(235, 46%, 20%) ;
        transform: translateY(-1rem);
        
        position: relative;
        padding:1.2rem;
        border-radius:0 0 12.8px 12.8px;
        display: flex;
        gap:0.5rem;
        flex-direction: column;
        margin-top:1rem;
        
       
    }
    .days p{
        color:hsl(235, 45%, 61%);
        font-size:0.75rem;
        cursor: pointer;
    }
     .card{
         width:10rem;
         height:10rem;
         position:relative;
         border-radius:0.8rem; 
         /* overflow:hidden; */
     }
     .card:nth-child(2){
           background:hsl(15, 100%, 70%);
           /* height:20rem; */
     }
      .card:nth-child(3){
           background:hsl(195, 74%, 62%);
           /* height:50rem; */
     } .card:nth-child(4){
           background:hsl(348, 100%, 68%);
           /* height:50rem; */
     } .card:nth-child(5){
           background:hsl(145, 58%, 55%);
     } .card:nth-child(6){
           background:hsl(264, 64%, 52%);
     } .card:nth-child(7){
           background:hsl(43, 84%, 65%);
     }
     .left{
     /* position:relative; */
     position:absolute;
     right:0.5rem;
     /* left:6rem; */
     /* top:-0.5rem; */
     width:3rem;
     /* height:3rem; */
     
     }
     .down{
         width: 100% !important;
         height:80% !important;
         background: hsl(235, 46%, 20%);
         border-radius:0.8rem;
         position: absolute;
         /* top:-1.5rem; */
         bottom: 0rem;
         cursor: pointer;
         /* border:5rem solid hsl(235, 46%, 20%); */
         
        
     }
     .down:hover{
         background: rgba(52,57,123,255);
     }
     .wrap{
         display:flex;
         justify-content:space-between;
         align-items:center;
         margin-bottom: 1rem;
     }
     .heading{
         color:#fff;
         margin-top:1rem;
         font-size:0.8rem;
         margin-left: 1rem;
     }
     .icon{
          margin-top:1rem;
          width: 1rem;
          margin-right: 1rem;

     }

     .hour{
         color: #fff;
         font-weight: 100;
         margin-left: 1rem;
         font-size:2.5rem;
         /* margin-bottom: 1rem; */
     }
     .footer{
           color:hsl(235, 45%, 61%) ;
           margin-left: 1rem;
           font-size:0.6rem;
     }
.active{
    color: #fff !important;
}
@media(max-width:750px){
    html{
        font-size:13px;
    }
}
@media(max-width:600px){
    html{
        font-size:10px;
    }
}


@media(max-width:500px){

    body{
 height:auto;
 
    }
main{
    margin-top:8rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    
   
    /* border:3px solid red; */
}
.top{
    display:flex;
    /* justify-content:center; */
    gap: 2rem;
    align-items:center;
    padding-left: 3rem;
}
.des{
    margin-top:-1rem;
}
/* .top p, .top h1{
position:absolute;
right: 0;
} */
.days{
width: auto;
display: flex;
flex-direction: row;
justify-content:space-evenly;
/* gap: 1rem; */

}
.days p{
font-size:1.5rem;
}
.card{
    width:100%;
    margin-top: 2rem;
    height:16rem;
    margin-bottom: 1rem;
    overflow:hidden;
    border-radius: 1.5rem;
}
.des p{
    font-size:1.5rem;
    color:hsl(236, 100%, 87%);
}
.top img{
    width:7rem;
    height:7rem;
    
}
.top h1{
    margin-top: 0.5rem;
}
.down{
    width:100%;
    height: 100%;
    bottom:-1rem;
    border-radius: 1.5rem;
    
}
.heading{
    font-size:2rem;
    /* margin-top: 2rem; */
    padding:2rem;
    font-weight:500;
}
.icon{
    width:4rem;
    padding-right:2rem;
}
.footer{
    font-size:1.8rem;
    position:relative;
    left: 16.9rem;
    top:-5rem;
}
.hour{
    font-size:3rem;
    position: relative;
    top:-2rem;
    left:2rem;
}
.left{
    position: absolute;
    top:-0.8rem;
    width:6rem;
    right: 2rem;
    /* height: 8rem; */

}
}